* {
    color: black;
    font-size: 18px;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

body {
    margin: 0;
    font-family: "SukhumvitSet-Light", serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#main {
    padding-top: 50px;
}

#footer {
    background-color: #222;
    max-height: 50vh;
    padding: 40px;
    margin-top: 30px;
}

.viewsight {
    height: 100vh;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.distance-left {
    margin-left: 7px;
}

.distance-above {
    margin-top: 15px;
}

.light-gray {
    background-color: lightgray;
}

.beige {
    background-color: beige;
}

.colorDataCompany {
    color: #ff6500;
}