.header #navigation {
    font-family: "SukhumvitSet-Thin", serif;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.navigation-element {
    display: flex;
    justify-content: center;
    transition: all 0.7s;
    position: relative;
}

.navigation-element .nav-title {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

.navigation-element .nav-title-brand {
    left: 0;
    font-family: "Perpetua Titling MT", serif;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    width: 200px;
}

.navigation-element .search {
    position: absolute;
    right: 0;
    width: 90px;
    cursor: unset;
}
.navigation-element .search .language {
    cursor: pointer;
    display: inline;
    font-size: 17px;
    color: white;
}

.navigation-element .search .language.first {
    right: 30px;
}


.languageDistance {
    color: white;
    display: inline;
}

.navigation-logo {
    position: relative;
    right: -10px;
}


.navigation-element.navigation-transparent .nav-title.search:hover {
    background-color: unset;
}

.navigation-element.navigation-nontransparent .nav-title.search:hover {
    background-color: unset;
}

.navigation-element.navigation-transparent .nav-title:hover {
    background-color: rgba(248, 248, 248, 0.2);
}

.navigation-element.navigation-nontransparent .nav-title:hover {
    background-color: rgba(200, 197, 145, 1);
}

.navigation-transparent {
    background-color: rgba(248, 248, 248, 0);
    padding: 20px;
}

.navigation-nontransparent {
    background-color: #ff6500;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    margin: 20px 20px 0 0;
    transition: all 0.7s;
    cursor: pointer;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.mobile {
    position: absolute;
    display: none;
    flex-direction: column;
    left: 0;
    margin-top: 71px;
    width: 100%;
    transition: all 0.7s;
}

.nav-title-mobile {
    width: 100%;
    padding: 20px;
    background-color: rgba(248, 248, 248, 0.7);
    text-decoration: none;
}

.menu-dropdown-beige {
    background-color: rgba(238, 197, 145, 0.7) !important;
}

.nav-title-mobile:hover {
    background-color: white;
    cursor: pointer;
}

@media (max-width: 1100px) {
    .toggle-button {
        display: flex;
    }

    .nav-title {
        display: none;
    }

    .navigation-element {
        height: 51px
    }
}