.navigation-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.navigation-element {
    background-color: #222;
    display: flex;
    justify-content: center;
}

.navigation-element .nav-title {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}

.navigation-element .nav-title:hover {
    background-color: lightgray;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222;
    z-index: 1;
    bottom: 0;
    min-width: 160px;
    transform: translateY(100%);
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: lightgray;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}